{% extends "makeup.html"%}
{% block content %}

<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <legend class="form-group container" style="text-align: center">Sign-In</legend>
        <fieldset class="form-group">
            
            <div class="form-group container">
                
                
                    {{ form.email(class="form-control form-control-lg", placeholder="Enter your e-mail") }}
                
            </div>
            <div class="form-group container">
                
                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid", placeholder="Enter your password") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control form-control-lg", placeholder="Enter your password") }}
                {% endif %}
            </div>
            <div class="form-check container">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>
        </fieldset>
        <div class="form-group container">
            {{ form.submit(class="btn btn-outline-info") }}
        
    </form>

<div class="border-top pt-3 container">
    <small class="text-muted container">
        Don't you have an account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up</a>
    </small>
</div>
{%endblock content %}